altair==5.3.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker==1.8.2
Brotli
cachetools==5.3.3
certifi
cffi
charset-normalizer
click==8.1.7
comm
contourpy==1.2.1
cycler==0.12.1
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools==4.51.0
gitdb==4.0.11
GitPython==3.1.43
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.8.4
matplotlib-inline
mdurl==0.1.2
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python==4.9.0.80
overrides
packaging
pandas==2.2.2
pandocfilters
parso
pdf2image==1.17.0
pexpect
pillow==10.3.0
platformdirs
ply
prometheus-client
prompt-toolkit
protobuf==4.25.3
psutil
ptyprocess
pure-eval
pyarrow==16.1.0
pycparser
pydeck==0.9.1
Pygments
pyparsing==3.1.2
pypdf==4.2.0
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-sip
PySocks
pytesseract==0.3.10
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py
Send2Trash
setuptools==68.2.2
sip
six
smmap==5.0.1
sniffio
soupsieve
stack-data
streamlit==1.35.0
tenacity==8.3.0
terminado
tinycss2
toml==0.10.2
toolz==0.12.1
tornado
traitlets
typing_extensions
tzdata==2024.1
urllib3
wcwidth
webencodings
websocket-client
wheel==0.41.2
widgetsnbextension
